
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
/*navbar*/

.navbar {
  overflow: hidden;
  background-color: #333;
  text-align: center;
  width:  auto;
  float: right;
  border: 2px solid white;
  border-radius: 24px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  background-color: #555;
  text-align: center;
  padding: 14px 16px;
  
  text-decoration: underline;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  font-family: inherit;
  background-color: inherit;
  border-radius: 24px;
  border: 2px solid white;
}


.dropdown:hover .dropbtn {
  background-color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #555;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: green;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*navbar*/


h1{
  color:white;
  text-transform: uppercase;
}

p{
  font-size: 30px;
  color:white;
}


.delete-button:hover .dropdown-content {
  display: block;
}

#allMemo{
  margin-top: 14%;  
}

  .memo{
    /*overflow: auto;*/
    margin-top: 5%;
    margin-left:5%;
    float: left;
    height: 35%;
    width: 25%;
    border: 4px solid #151515;
    background-color: #fff8dc;
    transition: 0.1s;
  }


  .memo:hover{
  background-color:rgb(241, 187, 104);
  color: white;
  }
  

  .tit{
    overflow: hidden;
    outline: none;
    resize: none;
  margin-top: 5%;
  border-style: none;
  color: black;
  background-color: #fff8dc;
  width: 90%;
  height: 10%;
  text-align: center;
  font-size: 200%;
  }
  .tit:hover{
    background-color:  rgba(0, 8, 14, 0.801);
    color:white
  }
 
  body {
  width: 95%;
  height: 100%;
  background-color: rgba(0, 8, 14, 0.801);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  }
  
  div {
  text-align: center;
  
  }
  
  
  
 
  #get-button,#pulsante {
    margin-top: 1%;
  background: none;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color:white;
  border-radius: 24px;
  transition: 0.25s;

}
#get-button{
  display: none;
}
  #get-button:hover,#pulsante:hover {
  background-color: rgba(0, 71, 0, 0.445);
  }
  
  #get-button:active , #pulsante:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }

  #pulsante:hover,
  #get-button:hover,
  li a:hover,
  #invio:hover,
  .id:hover,
  textarea:hover
  {
    font-size: 25px;
    
  }

  
  .id {
  position: absolute;
  left: 0px;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  }
  
  .delete-button{ 
    margin-right: 70%;
    position: relative;
    display: inline-block;
  box-shadow: 0 9px #999;
  background-color: red;
  color: black;
  border-radius: 12px;
 
  }
  
  
  .delete-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }
  .update-button{
  box-shadow: 0 9px #999;
  background-color: green;
  color: white;
  border-radius: 12px;
  float: right;
  }
  
  .update-button:hover {
  background-color:rgba(0, 71, 0, 0.445);
  color: white;
  font-size: 18px;
  }
  
  .update-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }
  
  textarea {
    height: 70%;
    width: 100%;
   font-size: 20px;
  }
  
  textarea:focus {
  border: 3px solid #555;
  }
  
  .name{
    overflow: hidden;
    outline: none;
    resize: none;
    margin-top: 3%;
  border-style: inset;
  color: black;
  background-color: #fff8dc;
  }
  .name:hover{
    background-color:  rgba(0, 8, 14, 0.801);
    color:white
  }

  #create-input{
  width: 15%;
  height: 5%;
  font-size: 20px;
  margin-top: 1%; 
  background-color: transparent;
  color:white;
  border: 1px,black;
}
#create-title{
  width: 15%;
  height: 5%;
  font-size: 20px;
  margin-top: 5%; 
  background-color: transparent;
  color:white;
  border: 1px,black;
}
  
  #invio{
  box-shadow: 0 9px #999;
  background-color: green;
  color: white;
  border-radius: 12px;
  }
  #invio:hover {
  background-color:rgba(0, 71, 0, 0.445);
  color: white;
  }
  
  #invio:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }

  @media only screen and (max-width:1500px){
    #testata {
        width: 100%;
        margin: 2%;
        font-size: 20px;
    }
    #create-input{
      width: 100%;
    }
    #create-title{
      width: 100%;
    }
    
    #get-button,#pulsante{
      width: 70px;

    }
    #get-button{
      margin-top: 600x;
      display: none;
    }
   
    #invio,.delete-button,.update-button{
      width:100px;
      height: 10%;
    }
    
    .memo {
      float: left;
      margin: 2%;
      height: 25%;
      width: 100%;
      border: 4px solid #151515;
      transition: 0.1s;
  }  
    .id{
      width: 10px;
      height: 10px;
    }
}