<!DOCTYPE html>
<html>

<head>
    <link href="log.css" rel="stylesheet" type="text/css">

</head>

<body>

    <h2>Autenicazione a due fattori </h2>

    <form action="/autentica" method="post">


        <label for="autentica"><b><%=esito%></b></label>
        <br>
        <input type="text" placeholder="Scrivi il numero che ti è arrivato via mail" name="autentica" required>
        <br>
        <button id="invio" name="autenticazione" type="submit">Invio</button>
    </form>

</body>

</html>