<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>create account</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>

  <link href="log.css" rel="stylesheet" type="text/css">

</head>

<body>

  <h2>Login </h2>

  <form action="/login" method="post">
    <p><%=esito %></p>
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <br>
      <input type="email" autocomplete="on" placeholder="Enter email" name="uname" id="uname" required>
      <br>
      <label for="psw"><b>Password</b></label>
      <br>
      <input type="password" placeholder="Enter Password" name="psw" id="pass1"required>
      <br>
      <button name="subm" type="submit" id="logIn" >Login</button>
      <br>
    </div>
  </form>
  <form action="/singup" method="post" id="singUp">

    <button id="new acc" name="newAcc" type="submit">Create Account</button>
  </form>
  <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
  <form action="/pswDimenticata" method="post" id="pswDim">

    <!-- Button trigger modal -->
    <button type="button"   class="btn btn-primary" id="pDim" data-toggle="modal" data-target="#exampleModal">
      password Dimenticata
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="color: black;">inserire email</h5>
          </div>
          <div class="modal-body">
            <input id="psw"type="email" placeholder="example@gmail.com" value="" name="emailMod">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Invio</button>
          </div>
        </div>
      </div>
    </div>
    
    <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
  </form>
  <form action="/subm" method="post">
    <button type="submit" id="subm" style="display: none;"></button>
  </form> 
  <script src="pswLogIn.js"></script>
  <script src="jquery.js"></script>
</body>


</html>