body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(0, 8, 14, 0.801);
    color: white;
  }

 
  /* Full-width input fields */
  input[type=text],
  input[type=password],
  input[type=email] {
    text-align: center;
    width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: none;
    border-radius: 24px;
    border: 2px solid rgba(7, 95, 172, 0.795);
    transition: 0.25s;
    color:white;
  }

  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus {
    background: none;
    outline: none;
    border: 2px solid rgba(30, 205, 228, 0.795);
    width: 35%;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  #singUp{
    border: 1px solid #f1f1f1;
   
  }
  

  /* Set a style for all buttons */
  button {
    text-align: center;
    width: 50%;
    margin-top: 1%;
    background: none;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
::placeholder{
color:white;
}
  button:hover {
    background-color: rgba(0, 71, 0, 0.445);
    font-size: 25px;
    width: 60%;
  }

  button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    background-color: #f44336;
  }

  .cancelbtn:hover {
    background-color: rgba(71, 0, 0, 0.884);
    font-size: 25px;
    width: 60%;
  }

  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn,
  .signupbtn {
    width: 50%;
  }

  /* Add padding to container elements */
  .container {
    padding: 16px;
    border: 1px solid white;
  }

  /* Clear floats */
  .clearfix{
    border: 1px solid white;
    height: 30%;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  #logIn{
      border:2px solid  rgba(173, 173, 13, 0.767);
  }
  #logIn:hover{
    background-color: rgba(173, 173, 13, 0.767);
  }

#psw{
  color:black;
  width: 50%;
}
#pDim{
  background-color: none;
}


  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
      width: 100%;
    }

  }