<html>

<head>
    <title>promemoria</title>
    <link href="css.css" rel="stylesheet" type="text/css">


</head>

<body>


    <!--**********************************************************************************+-->

    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">menù
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/">log Out</a>
                <a method="post" href="/deleteAccount">delete Account</a>
            </div>
        </div>
    </div>
    <h1>promemoria di </h1>
    <p id="accoun"><%=account%></p>
    <!--**********************************************************************************-->

    <h1>Inserisci i promemoria</h1>
    <button id="get-button">mostra</button>
    <form id="create-form">
        <button id="pulsante" data-toggle="tooltip" data-placement="top" title="aggiungi promemoria">aggiungi</button>
        <br>
        <textarea type="text" id="create-title" placeholder="Write title ..."></textarea>
        <br>
        <textarea type="text" id="create-input" placeholder="Write promemoria..."></textarea>
    </form>

    <div id="allMemo"></div>

    <script src="jquery.js"></script>
    <script src="scripts.js"></script>



</body>

</html>