<!DOCTYPE html>
<html>

<head>
  <title>create account</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>

  <link href="log.css" rel="stylesheet" type="text/css">

</head>

<body>
  <div id="all">
    <form action="/create" method="post">
      <div class="container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <p><%=esito%></p>
        <label for="username"><b>Email</b></label>
        <br>
        <input type="email" autocomplete="on" placeholder="Enter email" name="usename" id="usern"required>
        <br>
        <label for="psw"><b>Password</b></label>
        <br>
        <input type="password" placeholder="Enter Password" name="psw" id="pass" required>
        <br>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <br>
        <input type="password" placeholder="Repeat Password" name="psw_repeat" id="passRE" required>
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      </div>
      <div class="clearfix">

        <button type="submit" class="signupbtn" id="singUp">Sign Up</button>


    </form>
    <form action="/">
      <button onclick="" submit" class="cancelbtn">Cancel</button>
    </form>
    <form action="/CreateSubm" method="post">
      <button type="submit" id="SumbitPage" style="display: none;"></button>
    </form>
  </div>
  </div>
  <script src="jquery.js"></script>
  <script src="pswCreateAcc.js"></script>
  
</body>


</html>
